/* #region Color palette */
:root {
    --dash-primary: #1B72E8;
    --dash-secondary: #051E34;
    --dash-success: #198754;
    --dash-alarm: #FFC107;
    --dash-danger: #DC3545;
    --dash-bell: #FF8F00;
    --dash-badge: #165BBA;
    --dash-light: #F7F7F7;
    --dash-lighter: #F8F9FA;
}

/* #endregion Color palette */


/* #region Common */
body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

/* #endregion Common */

/* #region Utilities */
.wrapper {
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: hidden;
}

.w_3 {
    width: 3rem
}

/* #endregion Utilities */

/* #region Header */
#site_header {
    & nav {
        height: 3.5rem;
    }
}

/* #endregion Header */



/* #region Sidebar */
#site_sidebar {
    height: 100%;
    padding: 1rem 1.5rem;
    z-index: 999;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dash-secondary);

    & span {
        color: white;
    }
}

/* #endregion Sidebar */

/* #region Main */
#site_main {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    /* #region Banner section */
    .banner {
        background-color: var(--dash-primary);
        color: white;

        .badge {
            background-color: var(--dash-badge);

        }
    }
    /* #endregion Banner section */
    .info_classes{
        background-color: var(--dash-lighter);

        & h4{
            background-color: var(--dash-light);
        }
    }
}

/* #endregion Main */