/* #region Color palette */
:root {
    --dash-primary: #1B72E8;
    --dash-secondary: #051E34;
    --dash-success: #198754;
    --dash-alarm: #FFC107;
    --dash-danger: #DC3545;
    --dash-bell: #FF8F00;
    --dash-badge: #165BBA;
    --dash-light: #F7F7F7;
    --dash-lighter: #F8F9FA;
}

/* #endregion Color palette */

/* #region Debug */
.debug {
    /* & * {
        border: 1px dashed;
    } */

    /*     #site_header {
        height: 3rem;
        background-color: aqua;
    } */



    /*  #site_sidebar { */
    /*  height: 100vh;
        flex-basis: 3rem; */
    /* background-color: blue; */

    /* .square{
            height: 3rem;
            width: 2rem;
            background-color: crimson;
        }
    } */

     #site_main {
        /*height: 100vh;
        width: 100%;
        padding-bottom: 3.5rem;
        /* background-color: blueviolet; */
        /* overflow-y: auto; */
 
        .banner {


            /* .col {
                height: 3rem;
            } */

/*             .color3 {
                 background-color: chocolate;
 
            } */

            /* .color1 {
                background-color: rgb(171, 210, 30);
            }

            .color2 {
                background-color: rgb(63, 30, 210);
            } */
        }

        .info_classes {

            /* .left {
                background-color: tomato;
            } */

            .right {
                background-color: rgb(252, 55, 209);
            }

            .card {
                /* height: 10rem;
                background-color: teal; */
            }
        }
    }
}

/* #endregion Debug */

/* #region Common */
body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

/* #endregion Common */

/* #region Utilities */
.wrapper {
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: hidden;
}

.w_3 {
    width: 3rem
}

/* #endregion Utilities */

/* #region Header */
#site_header {
    & nav {
        height: 3.5rem;
    }
}

/* #endregion Header */



/* #region Sidebar */
#site_sidebar {
    height: 100%;
    padding: 1rem 1.5rem;
    z-index: 999;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dash-secondary);

    & span {
        color: white;
    }
}

/* #endregion Sidebar */

/* #region Main */
#site_main {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    /* #region Banner section */
    .banner {
        background-color: var(--dash-primary);
        color: white;

        .badge {
            background-color: var(--dash-badge);

        }
    }

    /* #endregion Banner section */
}

/* #endregion Main */